# ansible managed WPI
# /etc/aliases
root: {{system_mail_recipient}}
eelco: {{system_mail_recipient}}
mailer-daemon: postmaster
postmaster: root
nobody: root
hostmaster: root
usenet: root
news: root
webmaster: root
www: root
ftp: root
abuse: root
noc: root
security: root
logcheck: root
