#!/bin/bash
#
# This custom nagios plugin checks for the existance of a MySQL or PostgreSQL instance
# If an instance is found, it tries to check it's status with regular nagios plugins.
#
# For this to work on a MySQL instance, please run the following command as Nagios root :
# grant usage on * to nagios identified by '{{ dbms_monitoring_password }}';
#
# For this to work on a PotgreSQL instance, please run the following command as postgres :
# CREATE USER nagios WITH PASSWORD '{{ dbms_monitoring_password }}';
# grant process ON *.* to nagios;
#
# Maljaars IT 07-mar-2013
# https://maljaars-it.nl/

DBMS=0

if [[ ! -x /usr/lib/nagios/plugins/check_mysql ]];
then
  MY_PLUG=/usr/lib64/nagios/plugins/check_mysql
  PASSWD=""
else
  MY_PLUG="/usr/lib/nagios/plugins/check_mysql"
<% if {{ inventory_hostname }} != "bla" && {{ inventory_hostname }} != "jada" -%>
  PASSWD="-p {{ dbms_monitoring_password }}"
<% else -%>
  PASSWD=""
<% end -%>
fi

if [[ -e /var/lib/mysql ]];
then
  DBMS=1

  if [[ ! -x $MY_PLUG ]];
  then
    echo "MySQL found, but Nagios plugin missing, PLEASE FIX"
    exit 2;
  else
    $MY_PLUG -H 127.0.0.1 -u nagios $PASSWD
    if [[ $? > 0 ]];
    then
      exit 2;
    else
      exit 0;
    fi
  fi
fi

if [[ -e /var/lib/postgresql ]];
then
  DBMS=1

  if [[ ! -x /usr/lib/nagios/plugins/check_pgsql ]];
  then
    echo "PostgreSQL found, but nagios plugin missing, PLEASE FIX"
    exit 2;
  else
    /usr/lib/nagios/plugins/check_pgsql -l nagios -p {{ dbms_monitoring_password }}
    if [[ $? > 0 ]];
    then
      exit 2;
    else
      exit 0;
    fi
  fi
fi

if [[ $DBMS == 0 ]];
then
  echo "This server does not have MySQL or PostgreSQL in the usual places"
  exit 0;
fi
